* {
    margin: 0;
    padding: 0;
}

body {
    background: #004980;
    font-family: "StratosSkyeng";
}

.center {
    padding-left: calc(50% - 240px);
    padding-right: calc(50% - 240px);
}

.level-panel {
    display: flex;
    margin-top: 158px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;

    .level-text {
        width: 208px;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: #004980;
        margin-top: 52px;
        margin-bottom: 48px;
    }
    .form-level {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-bottom: 67px;

        .form-level_first input:hover + label {
            border: 2px solid #004980a1;
            box-shadow: 0 0 4px #004980a1;
            box-sizing: border-box;
            border-radius: 12px;
        }
        .form-level_first input:checked + label {
            border: 2px solid #004980;
            box-sizing: border-box;
            width: 98px;
            height: 98px;
            display: flex;
            border-radius: 12px;
            align-items: center;
            text-align: center;
        }

        .form-level_second input:hover + label {
            border: 2px solid #004980a1;
            box-shadow: 0 0 4px #004980a1;
            box-sizing: border-box;
            border-radius: 12px;
        }
        .form-level_second input:checked + label {
            border: 2px solid #004980;
            box-sizing: border-box;
            width: 98px;
            height: 98px;
            display: flex;
            border-radius: 12px;
            align-items: center;
            text-align: center;
        }

        .form-level_third input:hover + label {
            border: 2px solid #004980a1;
            box-shadow: 0 0 4px #004980a1;
            box-sizing: border-box;
            border-radius: 12px;
        }
        .form-level_third input:checked + label {
            border: 2px solid #004980;
            box-sizing: border-box;
            width: 98px;
            height: 98px;
            display: flex;
            border-radius: 12px;
            align-items: center;
            text-align: center;
        }

        &_first {
            background: #ffffff;
            border-radius: 12px;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #0080c1;
            &__label {
                display: none;
            }
            &__number {
                cursor: pointer;
                justify-content: space-evenly;
                width: 98px;
                height: 98px;
                display: flex;
                align-items: center;
            }
        }
        &_second {
            background: #ffffff;
            border-radius: 12px;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #0080c1;
            &__label {
                display: none;
            }
            &__number {
                cursor: pointer;
                justify-content: space-evenly;
                width: 98px;
                height: 98px;
                display: flex;
                align-items: center;
            }
        }
        &_third {
            background: #ffffff;
            border-radius: 12px;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #0080c1;
            &__label {
                display: none;
            }
            &__number {
                cursor: pointer;
                justify-content: space-evenly;
                width: 98px;
                height: 98px;
                display: flex;
                align-items: center;
            }
        }
    }

    .btn {
        border: 1px solid #7ac100;
        width: 246px;
        height: 50px;
        background: #7ac100;
        border-radius: 12px;
        font-weight: 400;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #ffffff;

        &:disabled:hover {
            border: 1px solid #afafaf;
            background: #b5b5b5;
        }

        &:disabled {
            border: 1px solid #afafaf;
            background: #b5b5b5;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid #8ada00;
            background: #8ada00;
        }
    }
}

.container {
    caret-color: transparent;

    .restart {
        border: 1px solid #7ac100;
        width: 246px;
        height: 48px;
        background: #7ac100;
        border-radius: 12px;
        font-weight: 400;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #ffffff;

        &:hover {
            cursor: pointer;
            border: 1px solid #8ada00;
            background: #8ada00;
        }
    }
}